{# templates/block/block--system-branding-block.html.twig #}

<div{{ attributes.addClass('warpedztheme-branding') }}>
  {% if content.site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="site-logo">
      {{ content.site_logo }}
    </a>
  {% endif %}

  {% if content.site_name %}
    <a href="{{ path('<front>') }}" rel="home" class="site-name">
      {{ content.site_name }}
    </a>
  {% endif %}

  {% if content.site_slogan %}
    <div class="site-slogan">{{ content.site_slogan }}</div>
  {% endif %}
</div>